button {
     color:#FFFFFF;
     background-color:#4eb5f1;
     text-align:center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
}

.center h1 {
    height: 60%;
    align-items: bottom;
}
